.MovieCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.MovieCard-left {
    width: 100%;
    height: 100%;
    display: flex;

    border: 1px solid red;

}

.MovieCard-img {
    height: 30vh;
    display: flex;
    align-items: center;
    border: 1px solid blue;
}

.MovieCard-img img{
    width: 100%;
    height: 100%;
}

.MovieCard-right {

    border: 1px solid green;
}