:root {
    --bck-color:rgba(0, 0, 0, 0.3);

    --panel-color: rgba(128, 128, 128, 0.8);

    --icon-color: rgba(255, 255, 255, 0.5);
    --icon-color-hover: rgba(255, 255, 255, 0.8);
    --icon-tranform-hover: scale(1.05);

    --poster-width: 300px;
    --poster-bck-color: rgba(0, 0, 0, 0.7);
    --poster-field-border-color: rgb(102, 102, 102);
    --poster-legend-color: rgb(255, 255, 255);

    --library-favorite-bck-color1: var(--poster-bck-color);
    --library-favorite-bck-color2: rgba(36, 12, 12, 0.7);
    --library-favorite-container-color: rgba(255, 1, 128, 0.7);
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App .App-search, .App-posters{
    width: 90%;
    margin: 20px;
}

.App-header{
    height: 60px;
}

.App-library {
    position: absolute;
    top: 15px;
    right: 15px;

    color: var(--icon-color);
}

.App-library:hover {
    cursor: pointer;
    transform: var(--icon-tranform-hover);
    color: var(--icon-color-hover);
}

.App-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-search >* {
    margin: 5px;
    font-size: 1.25em;
}

.App-search input {
    width: 80%;
    max-width: 220px;
}

.App-posters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
