:root {
    --poster-width: 300px;
    --poster-bck-color: rgba(0, 0, 0, 0.7);
    --poster-field-color: rgb(102, 102, 102);
    --poster-legend-color: rgb(255, 255, 255);
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App .App-search, .App-posters{
    width: 90%;
    margin: 20px;
}

.App-header{
    height: 60px;
}

.App-library {
    position: absolute;
    top: 15px;
    right: 15px;

    color: rgba(255, 255, 255, 0.5);
}

.App-library:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: rgba(255, 255, 255, 0.8);
}

.App-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-search >* {
    margin: 5px;
    font-size: 1.25em;
}

.App-search input {
    width: 80%;
    max-width: 220px;
}

.App-search input:hover {

}

.App-posters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
