.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App .App-search, .App-posters{
    width: 90%;
    margin: 20px;
}

.App-header{
    height: 60px;
}

.App-library {
    position: absolute;
    top: 15px;
    right: 15px;

    color: var(--icon-color);
    opacity: var(--icon-opacity-b);
}

.App-library:hover {
    cursor: pointer;
    transform: var(--icon-transform-hover);
    opacity: var(--icon-opacity-a);
}

.App-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-search >* {
    margin: 5px;
    font-size: 1.5em;
}

.App-search input {
    width: 80%;
    max-width: 220px;
}

.App-search button:hover {
    cursor: pointer;
}

.App-posters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
