.MovieLibrary {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;

    background-color: var(--bck-color);
    backdrop-filter: blur(20px);
}

.MovieLibrary-header {
    height: 70px;
    display: flex;

    text-align: center;
    font-style: italic;
    color: white;
}

.MovieLibrary-back {
    position: absolute;
    top: 10px;
    left: 10px;
    
    color: var(--icon-color);
    opacity: var(--icon-opacity-b);
}

.MovieLibrary-back:hover {
    cursor: pointer;
    opacity: var(--icon-opacity-a);
    transform: var(--icon-tranform-hover);
}

.MovieLibrary-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1;
    transition: all 1s;

    border-top: 2px solid black;
}

.MovieLibrary-body:hover {
    flex-grow: 2;
    background-color: var(--library-container-color);
    transition: all 1s;
}

.MovieLibrary-img {
    height: 30vh;
}

.MovieLibrary-controlers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.MovieLibrary-controlers >* {
    margin: 20px;
    cursor: pointer;
    color: var(--icon-color);
    opacity: var(--icon-opacity-b);
}

.MovieLibrary-watched:hover {
    color: green;
    opacity: var(--icon-opacity-a);
    transform: var(--icon-tranform-hover);
}

.MovieLibrary-delete:hover {
    color: red;
    opacity: var(--icon-opacity-a);
    transform: var(--icon-tranform-hover);
}

.MovieLibrary-info {
    height: 5%;
    width: 100%;

    color: grey;
    font-style: italic;
    font-size: 2vh;

    overflow: auto;

    flex-grow: 1;
    transition: all 1s;

    border-top: 2px solid black;
}

.MovieLibrary-info:hover {
    color: white;
    flex-grow: 10;
    background-color: var(--library-container-color);
    transition: all 1s;
}

.MovieLibrary-container {
    height: 20%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    overflow: auto;

    flex-grow: 1;
    transition: all 1s;

    border-top: 2px solid black;
}

.MovieLibrary-container:hover {
    flex-grow: 10;
    background-color: var(--library-container-color);
    transition: all 1s;
}